# 11만개 데이터 분류 작업 처리

In [1]:
# 판다스 사용
import os 
import pandas as pd
import shutil

In [2]:
# 데이터 불러오기
df_class = pd.read_csv("D:/kaggle/AI-DX-dataset/Inception_v3/class_list.txt", sep = ' ', header = None)

In [3]:
df_class

       0                    1
0      0              macaron
1      1              beignet
2      2              cruller
3      3          cockle_food
4      4               samosa
..   ...                  ...
246  246  chicken_cordon_bleu
247  247          eccles_cake
248  248      moo_goo_gai_pan
249  249         buffalo_wing
250  250       stuffed_tomato

[251 rows x 2 columns]

In [4]:
# 디렉토리를 자동 생성하는 함수
def createFolder(dir):
    try:
        if not os.path.exists(dir): # 경로에 디렉토리가 없다면
            os.makedirs(dir) 
    except: # 디렉토리가 있다면
        print("에러: 디렉토리를 생성할 수 없습니다.")
        exit()

In [5]:
df_class[1]

0                  macaron
1                  beignet
2                  cruller
3              cockle_food
4                   samosa
              ...
246    chicken_cordon_bleu
247            eccles_cake
248        moo_goo_gai_pan
249           buffalo_wing
250         stuffed_tomato
Name: 1, Length: 251, dtype: object

In [6]:
# 디렉토리 생성
for i in range(len(df_class)):
    name = df_class[1][i]
    # print(name)
    createFolder(f'D:/kaggle/AI-DX-dataset/Inception_v3/food/train/{name}')

# 파일복사

In [7]:
# 파일정보가 있는 csv파일 불러오기
df_labels = pd.read_csv('D:/kaggle/AI-DX-dataset/Inception_v3/train_labels.csv')
df_labels

                img_name  label
0       train_101733.jpg    211
1       train_101734.jpg    211
2       train_101735.jpg    211
3       train_101736.jpg    211
4       train_101737.jpg    211
...                  ...    ...
118470  train_101728.jpg    123
118471  train_101729.jpg    123
118472  train_101730.jpg    123
118473  train_101731.jpg    123
118474  train_101732.jpg    123

[118475 rows x 2 columns]

In [8]:
# 해당되는 경로에 맞는 데이터를 복사하는 작업
# labels를 숫자를 이름을 변경할 수 있는 함수
def label_names(idx):
    return df_class[1][idx]

In [9]:
label_names(4)

'samosa'

In [10]:
# 데이터를 자동 이전하는 프로그램
for i in range(len(df_labels)):
    f_names = df_labels['img_name'][i]
    i_labels = df_labels['label'][i]
    # print(f_names, i_labels)
    dir_names = label_names(i_labels)
    # print(dir_names)

    # 원본파일 -> dir_names / f_names 로 옮김
    org_name = f'D:/kaggle/AI-DX-dataset/Inception_v3/food_org/train_set/{f_names}'
    cp_name = f'D:/kaggle/AI-DX-dataset/Inception_v3/food/train/{dir_names}/{f_names}'
    # print("org_name: ", org_name)
    # print("cp_name: ", cp_name)
    shutil.copy(org_name, cp_name)
    if i % 100 == 0:
        print(f"[{i}] {org_name} -> {cp_name}")

FileNotFoundError: [Errno 2] No such file or directory: 'D:/kaggle/AI-DX-dataset/Inception_v3/food_org/train_set/train_101733.jpg'